:root {
	--primary-color: #15a919;
	--light-accent-color: #82a088;
	--light-shades-color: #ece9e5;
	--dark-shades-color: #655c52;
	--dark-accent-color: #1e2720;
	--dark-font: rgb(30, 39, 32);
	--light-font: rgb(236, 233, 229);

	--desktop: 1024px;
}
